/*colors*/
.bg-teal {
  background-color: #17a2b8;
}
.btn-teal {
  background-color: #17a2b8;
}
.btn-teal:hover {
  background-color: #00606e;
  color: white;
}
.btn-teal:disabled {
  background-color: #adadad;
  color: black;
}
.btn-teal:focus {
  background-color: #03cceb;
  color: black;
}

body {
  background-color: #17a3b813;
}

.bg-transparent {
  background-color: transparent;
}

/*transitions*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/*misc*/
td,
th {
  vertical-align: middle;
}
.btn-right {
  float: right;
}
.btn-left {
  float: left;
}
